  {% extends 'base.html' %}
{% block page_heading %}
                <div class="row">
                    <div class="col-md-12" style="margin-top: 4rem;">
                        <div class="card">
                            <h1 class="page-header" id="cr">Create Admin</h1>
{% endblock %}

{% block content %}
                             <div class="row">
                                <form action="/create_admin/" method="post" enctype="multipart/form-data" id="frm">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <div>
                                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                        <a class="btn btn-primary pull-right" href="/list_charities/">Cancel</a>
                                    </div>
                                </form>
                             </div>
                        </div>
                    </div>
                </div>
{% endblock %}