  {% extends 'base.html' %}
{% block page_heading %}
<div class="row">
    <div class="col-md-12" style="margin-top: 4rem;">
        <div class="card">
            <h1 class="page-header" id="cr">
                Admin Details
            </h1>
{% endblock %}

{% block content %}

            <div id="det" class="card-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <table class="table table-striped table-bordered detail-view">
                                                <tbody>
                                                    <tr><th>ID</th><td>{{object.id}}</td></tr>
                                                    <tr><th>User Name</th><td>{{object.username}}</td></tr>
                                                    <tr><th>Email ID</th><td>{{object.email}}</td></tr>
                                                    <tr><th>Mobile Number</th><td>{{object.phone_number}}</td></tr>
                                                    <tr><th>Is Super User</th><td>{{object.is_superuser}}</td></tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                <a class="btn btn-danger pull-right" id="back" href="/list_admin">Back</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}